@import "tailwindcss";
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --accent: 0, 151, 90;
  --accent-disabled: 50, 225, 159;

  --primary: 237, 237, 237;
  --secondary: 215, 215, 215;
  --tertiary: 180, 180, 180;
  --quartinary: 202, 202, 202;
  --danger: theme('colors.danger.400');
  --text-primary: 0, 0, 0;
  --text-secondary: 255, 255, 255; 
}

.dark {
  --accent: 34, 160, 113;
  --accent-disabled: 15, 77, 53;
  
  --primary: 0, 20, 20;
  --secondary: 11, 36, 36;
  --tertiary: 34, 64, 64;
  --quartinary: 4, 46, 46;
  --danger: theme('colors.danger.200');

  --text-primary: 255, 255, 255;
  --text-secondary: 0, 0, 0;
}

@theme inline {
  --color-accent: rgba(var(--accent));
  --color-accent-d: rgba(var(--accent-disabled));

  --color-primary: rgba(var(--primary));
  --color-secondary: rgba(var(--secondary));
  --color-tertiary: rgba(var(--tertiary));
  --color-quartinary: rgba(var(--quartinary));
  --color-danger: var(--danger);
  
  --color-text-primary: rgba(var(--text-primary));
  --color-text-secondary: rgba(var(--text-secondary));
  
  --font-poppins: var(--font-c-poppins);
  --font-alef: var(--font-c-alef);

  --color-static-accent: rgba(var(--static-accent));

  --breakpoint-xsm: 410;
}

.center-col {
  @apply flex flex-col justify-center items-center;
}
.center-row {
  @apply flex flex-row justify-center items-center;
}