@import "tailwindcss";
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --accent: 46, 255, 249;
  --accent-disabled: 0, 163, 158;

  --primary: 237, 237, 237;
  --secondary: 215, 215, 215;
  --tertiary: 200, 200, 200;

  --text-primary: 0, 0, 0;
  --text-secondary: 0, 0, 0;

  --static-accent: 46, 255, 249;
}

.dark {
  --accent: 0, 209, 202;
  --accent-disabled: 0, 163, 158;

  --primary: 0, 20, 20;
  --secondary: 29, 46, 46;
  --tertiary: 26, 38, 38;

  --text-primary: 255, 255, 255;
  --text-secondary: 255, 255, 255;

  --static-accent: 46, 255, 249;

}

@theme inline {
  --color-accent: rgba(var(--accent));
  --color-accent-d: rgba(var(--accent-disabled));

  --color-primary: rgba(var(--primary));
  --color-secondary: rgba(var(--secondary));
  --color-tertiary: rgba(var(--tertiary));

  --color-t-primary: rgba(var(--text-primary));
  --color-t-secondary: rgba(var(--text-secondary));
  
  --font-poppins: var(--font-poppins); 

  --color-static-accent: rgba(var(--static-accent));
}

.center-col {
  @apply flex flex-col justify-center items-center
}
.center-row {
  @apply flex flex-row justify-center items-center
}